@using RealEstate.Models.Entities
<head>
    <link rel="stylesheet" href="~/css/offer.css" />
</head>

@{
    ViewData["Title"] = "Nabídka";
    int counter = 0;
}

@model List<Offer>

<content>
    <div class="filter">

    </div>
    <div class="offers">
        @foreach (Offer offer in Model)
        {
            if (counter < ViewBag.Page * 15 && counter >= ViewBag.Page * 15 - 15)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/@offer.PreviewPhoto" alt="" title="@offer.Name">
                    <div class="card-body">
                        <h5 class="card-title">@offer.Name</h5>
                        <div class="offer-card-info">
                            <h6 class="card-subtitle mb-2 text-muted money">@offer.Price Kč</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@offer.Area m<sup>2</sup></h6>
                        </div>
                        <p class="card-text">@offer.SmallDescription</p>
                        <div class="btn-wrapper">
                            <a asp-controller="Offer" asp-action="Detail" asp-route-id="@offer.Id" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            }
            counter++;
        }
    </div>
    <div class="buttons">
        @if (ViewBag.Page > 1)
        {
            <a asp-controller="Offer" asp-action="Index" asp-route-id="@(ViewBag.Page - 1)" class="btn btn-primary">Previous</a>
        }
        else
        {
            <a class="btn btn-primary">Previous</a>
        }

        @if (ViewBag.Page * 15 < Model.Count)
        {
            <a asp-controller="Offer" asp-action="Index" asp-route-id="@(ViewBag.Page + 1)" class="btn btn-primary">Next</a>
        }
        else
        {
            <a class="btn btn-primary">Next</a>
        }
    </div>
</content>

<div style="height:5px;"></div>
<script src="~/js/offer.js"></script>