@using RealEstate.Models;
@using RealEstate.Models.Entities;

@{
    ViewData["Title"] = "Administrace";
    Layout = "_AdminLayout";
    int counter = 1;
}

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>

@if (ViewBag.Requests.Count > 0)
{
    <div class="table-wrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jméno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Služba</th>
                    <th scope="col">Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Request request in ViewBag.Requests)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@request.Name</td>
                        <td>@request.Email</td>
                        <td>@request.Service</td>
                        <td class="buttons">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="ViewRequest" asp-route-id="@request.Id">Zobrazit</a>
                            <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteRequest" asp-route-id="@request.Id">Smazat</a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center mt-2">
        <p>Nejsou žádné nevyřízené žádosti.</p>
    </div>
}

<script>
    document.querySelector('#requests').classList.add('active');
</script>