@using Fibretel.Models;
@using Fibretel.Models.Dto;
@using Fibretel.Models.Entities;

@{
    ViewData["Title"] = "Administrace";
    Layout = "_AdminLayout";
    int counter = 1;
}

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>

@if (ViewBag.Services.Count > 0)
{
    <div class="table-wrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Služba</th>
                    <th scope="col">Cena od</th>
                    <th scope="col">Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Service service in @ViewBag.Services)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@service.Name</td>
                        <td>@service.Price Kč</td>
                        <td class="buttons">
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="EditService" asp-route-id="@service.Id">Upravit</a>
                            <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteService" asp-route-id="@service.Id">Smazat</a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center mt-2">
        <p>Zatím nenabízíte žádné služby :(</p>
    </div>
}
<div class="button-add">
    <a class="btn btn-success" asp-controller="Admin" asp-action="EditService">Přidat</a>
</div>
<script>
    document.querySelector('#services').classList.add('active');   
</script>